.Hero-text,
.up-section,
.title {
  display: flex;
  flex-direction: column;
}

.Hero-text {
  width: 45%;
  gap: 148px;

  .up-section {
    gap: 56px;

    .title {
      gap: 28px;

      h1 {
        font-weight: 100;
        font-size: 3rem;
        line-height: 1.1;

        span {
          font-weight: bold;
        }
      }

      p {
        font-size: 1.3rem;
        font-weight: 100;
      }
    }

    button {
      max-width: fit-content;
      border: none;
      border-radius: 40px;
      padding: 12px 32px;
      color: white;
      background-color: #eb7e2b;
      cursor: pointer;
    }
  }

  .scroll-down-section {
    display: flex;
    align-items: center;
    padding-left: 16px;

    div:first-child {
      font-size: .7rem;
      transform: rotate(-90deg);
    }

    .mouse {
      position: relative;
      height: 60px;
      width: 30px;
      border: 2px solid black;
      border-radius: 30px;
    }

    .mouse::after {
      content: "|";
      position: absolute;
      font-weight: bold;
      width: 5px;
      height: 20px;
      top: 8px;
      left: 10.8px;
    }
  }
}