.Hero-text {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 48px;

  .title {
    display: flex;
    flex-direction: column;
    gap: 28px;

    h1 {
      font-weight: 100;
      font-size: 3rem;
      line-height: 1.1;

      span {
        font-weight: bold;
      }
    }

    p {
      font-size: 1.3rem;
      font-weight: 100;
    }
  }

  button {
    max-width: fit-content;
    border: none;
    border-radius: 40px;
    padding: 12px 32px;
    color: white;
    background-color: #eb7e2b;
    cursor: pointer;
  }
}