.Article-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 32px;
  width: 70%;
  height: 100%;
  position: absolute;
  right: 48px;
  top: 56px;
  padding: 0 40px;

  .grey-section,
  .orange-section,
  .blue-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;

    img {
      max-width: 200px;
      align-self: center;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 16px;

      span {
        font-weight: bold;
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1rem;
      }

      p {
        font-size: .6rem;
        color: rgb(123, 123, 123);
      }
    }
  }

  /*** GREY ***/
  .grey-section {
    grid-area: 4 / 1 / 7 / 2;
    background-color: #CCCCCC;
  }

  .grey-border {
    grid-area: 1 / 1 / 4 / 2;
    border-right: 2px solid #cccccca0;
  }

  /*** ORANGE ***/
  .orange-section {
    grid-area: 3 / 2 / 6 / 3;
    background-color: #EFC6AF;
  }

  .orange-border {
    grid-area: 1 / 2 / 3 / 3;
    border-right: 2px solid #efc6afa2;

  }

  /*** BLUE ***/
  .blue-section {
    grid-area: 2 / 3 / 5 / 4;
    background-color: #DFE7F3;
  }

  .blue-border {
    grid-area: 5 / 3 / 7 / 4;
    border-right: 2px solid #dfe7f3a9;
  }
}