:root {
  --color-grey: #CCCCCC;
  --color-orange: #EFC6B0;
  --color-blue: #DFE7F3;
}

@font-face {
  font-family: 'Metropolitano';
  src: local('Metropolitano'), url('./fonts/Metropolitano/Metropolitano-Light.ttf') format('truetype'),
    url('./fonts/Metropolitano/Metropolitano-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolitano';
  font-weight: bold;
  src: local('Metropolitano'), url('./fonts/Metropolitano/Metropolitano-Bold.ttf') format('truetype'),
    url('./fonts/Metropolitano/Metropolitano-Bold.woff') format('truetype');
}

@font-face {
  font-family: 'Metropolitano';
  font-weight: 100;
  src: local('Metropolitano'), url('./fonts/Metropolitano/Metropolitano-Thin.ttf') format('truetype'),
    url('./fonts/Metropolitano/Metropolitano-Thin.woff') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #F4EAE4;
  font-family: 'Metropolitano', Arial, sans-serif;
  padding: 56px 48px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

#root {
  height: 100%;
}

@media (max-width: 1024px) {
  body {
    height: auto;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}